@media(max-width: 768px){
    .card-mobile {
        width: 300px;
    }
}
.carousel-image {
    max-width: 0 auto;
    max-height: 0 auto;
    /* Defina o tamanho máximo conforme necessário */
    margin: 0 auto;
    /* Centraliza a imagem na tela */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    /* Cor de fundo do rodapé */
    color: #fff;
    /* Cor do texto */
    padding: 20px;
    text-align: center;
}

.text-light {
    font-size: 14px;
    /* Tamanho do texto */
    opacity: 0.7;
    /* Opacidade do texto para dar um efeito de "light" */
}

.text-light:hover {
    opacity: 1;
    /* Opacidade total quando o mouse passa por cima */
    transition: opacity 0.3s ease-in-out;
    /* Transição suave de opacidade */
}

/* styles.css */
.contact-section {
    background-color: #ecdaf3;
    padding: 20px;
    border-radius: 10px;
}

.contact-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.contact-link {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    margin: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}